<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/about/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-8 text-center">
                    <p class="large text-muted">
                        <br><br><br>
                        I'm a freelance software engineer and research scientist from the UK currently based in Germany.<br><br>
                        I have a Master's degree in Neuroscience with a focus on signal processing, machine learning, computational modelling, and statistics.<br><br>
                        I have over 6 years of experience coding in Python and MATLAB, including contributions to open-source projects used by thousands of scientists worldwide.
                    </p>
                </div>
            </div>
        </div>
    </section>